<!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> @ViewBag.Title - @AppService.AppName</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logoicon.png".ico">


    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.Partial("~/Views/Shared/_PartialLinkCss.cshtml")



</head>
<body class="bg-light">
    @Html.Partial("~/Views/Shared/_PartialHeader.cshtml")

    <main>

        @RenderBody()

    </main>
    <footer class="bg-light">
      <div class="container-fluid">
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy; @DateTime.Today.Year All rights reserved | This template is made with  <a href=#>@AppService.AppName</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_PartialLinkJs.cshtml")
</body>

</html>