<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> @ViewBag.Title - @AppService.AppName </title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logoicon.png" .ico">


    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Html.Partial("~/Views/Shared/_PartialLinkCss.cshtml")

    @Html.Partial("~/Views/Shared/_PartialLinkJs.cshtml")

</head>
<body class="bg-light">

    <header>
        <!-- Header Start -->
        <div class="header-area">

        </div>


        <!-- Header End -->
    </header> 
    <main>
        <div class="container my-3">
            <div class="row">



                @RenderBody()
            </div>
        </div>
    </main>




</body>

</html>