
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a href='@Url.Action("Index", "Home",new { area = "" })'><img src="~/img/logo.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block ">
                        <nav>
                            <ul id="navigation">
                                @if (UserAccount.Role == EnumList.LoginRole.Guest || UserAccount.Role == EnumList.LoginRole.Member)
                                {
                                    <li><a href='@Url.Action("CategoryList", "Product")'>餐點訂購</a></li>
                                    <li><a href="@Url.Action("About","Home")">關於我們</a></li>
                                    <li><a href="@Url.Action("Contact","Home")">聯絡我們</a></li>


                                }
                                else
                                {
                                    <li><a href="@Url.Action("OnlineOrder","StaffOrder",new { area = "Staff" })">線上訂單</a></li>
                                    <li><a href="@Url.Action("reserveOrder","StaffOrder",new { area = "Staff" })">預約訂單</a></li>

                                }

                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul id="navigation-2">
                            @if (UserAccount.Role == EnumList.LoginRole.Guest)
                            {
                                <li> <div class="nav-search "> <span class="flaticon-search"></span> </div> </li>
                                <li><a href="@Url.Action("CartList", "Product")"><span class="flaticon-shopping-cart"> @Cart.Count_Prop_Num</span></a> </li>
                                <li>
                                    <div class="nav-login">
                                        <a href="@Url.Action("Login", "User")"> <span class="flaticon-user"></span>   </a>
                                    </div>
                                </li>
                            }
                            else if (UserAccount.Role == EnumList.LoginRole.Member)
                            {
                                <li> <div class="nav-search "> <span class="flaticon-search"></span> </div></li>
                                <li><a href="@Url.Action("CartList", "Product")"><span class="flaticon-shopping-cart"> @Cart.Count_Prop_Num</span></a> </li>

                                <li>
                                    <a href="#"><span class="flaticon-user"> @UserAccount.UserName</span></a>
                                    <ul class="submenu">
                                        <li> @Html.ActionLink("會員中心", "UserInfo", "User", new { no = UserAccount.UserNo }, "")</li>
                                        <li>@Html.ActionLink("修改密碼", "ResetPassword", "User", "", "")</li>
                                        <li>@Html.ActionLink("訂單查詢", "Index", "MemberOrder", new { no = UserAccount.UserNo }, "")</li>
                                        <li>@Html.ActionLink("登出", "Logout", "User", new { no = UserAccount.UserNo }, new { @class = "fas fa-sign-out-alt" })</li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li id="tblInfo">

                                </li>
                                <li><a href="@Url.Action("Index","StaffProd_Check")"><span class="far fa-plus-square"></span></a> </li>
                                <li><a href="@Url.Action("TodayHistory","StaffOrder")"><span class="far fa-folder"></span></a> </li>
                                @*<li><a href="@Url.Action("Index", "Admin", new { area = "Admin" })"><span class="fas fa-cog"></span></a> </li>*@
                                <li>
                                    <a href="#"><span class="flaticon-user"> @UserAccount.UserName</span></a>
                                    <ul class="submenu">
                                        <li>
                                            <a class="fas fa-sign-out-alt" href="@Url.Action("Login","User",new {area="" })">系統登出</a>
                                        </li>
                                        <li>@Html.ActionLink("後台管理", "Index", "Admin", new { area = "Admin" }, new { @class = "fas fa-cog" })</li>
                                    </ul>
                                </li>

                            }

                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog" title="訂單資訊" style="display:none">
        <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the &apos;x&apos; icon.</p>
    </div>
</header>
<!-- Header End -->

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>

<script type="text/javascript">
    var Popup;
    $(function () {
        var cus = $.connection.cusHub;
        cus.client.displayGoPASTA = function () {
            getData();
        };
        $.connection.hub.start();
        getData();

        $('#tblInfo').on('click', 'a.popup', function (e) {
            e.preventDefault();
            GetNewOrder($(this).attr('href'), $(this).html());

        })

        function getData() {

            var $tbl = $('#tblInfo');
            $.ajax({
                url: "/CheckOrder/Get",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data.listCus.length)
                    $tbl.empty();
                    if (data.listCus.length != 0) {
                        $tbl.append(
                            '<a href="#"><div class="btn btn-danger"><i class="far fa-bell"></i> 新訂單</div></a>' +
                            '<ul class="submenu"></ul>'
                        )
                        $.each(data.listCus, function (i, model) {
                            $tbl.children("ul").append(
                                '<li><a class="popup" href="/CheckOrder/GetNewOrder/' + model.order_no + '">' + model.order_no + '</a></li>'
                            )
                        })
                    }
                }
            })
        }

        function GetNewOrder(url, id) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    //console.log(response);
                    formDiv.html(response);
                    console.log(formDiv.html());
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '新訂單',
                        width: 600,
                        buttons: {
                            '訂單確認': function () {
                                $.ajax({
                                    url: "/CheckOrder/ConfirmOrder",
                                    data: { id: id},
                                    type: "GET",
                                    dataType: "json",
                                    success: function (data) {
                                        if (data) {
                                            location.href = '@Url.Action("OnlineOrder", "StaffOrder")';
                                            Popup.dialog('destroy').remove();
                                        }
                                    }


                                })

                            }
                        }




                    });
                });
        }

    });
</script>


