@model foodfun.Models.About

@{
    ViewBag.Title = "公司理念修改";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr>
    <strong class="card-title"> @ViewBag.Title</strong>
    <hr>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.rowid)

    <div class="form-group">
        @Html.LabelFor(model => model.sortid, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.sortid, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sortid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.corevalue_title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.corevalue_title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.corevalue_title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.corevalue_descpt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.corevalue_descpt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.corevalue_descpt, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="儲存異動" class="btn btn-success" />
            @Html.ActionLink("返回", "Index", "About", null, new { @class = "btn btn-info" })
        </div>
    </div>
</div>
}


