@model IEnumerable<foodfun.Models.About>

@{
    ViewBag.Title = "公司理念";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <h2 class="text-center">
                        <strong class="card-title"> @ViewBag.Title</strong>
                    </h2>
                </div>
            </div>
            <div class="card-body">
                <table style=" width: 100%" id="DatatableList" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.sortid)</th>
                            <th> @Html.DisplayNameFor(model => model.corevalue_title)</th>
                            <th style="width:30%"> @Html.DisplayNameFor(model => model.corevalue_descpt)</th>
                            <th colspan="2"> @Html.DisplayNameFor(model => model.about_path)</th>
                            <th colspan="2"> @Html.DisplayNameFor(model => model.corevalue_path)</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.sortid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.corevalue_title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.corevalue_descpt)
                                </td>
                                <td style="min-width:100px;">

                                    <img src="@item.about_path" alt="x" />
                                </td>
                                <td class="align-middle">

                                    <button class="btn btn-info " style="background-color:#FFE4E1 "> @Html.ActionLink("上傳", "Upload", new { sortid = item.sortid.ToString(), info = "at" })</button>
                                </td>
                                <td style="min-width:100px;">

                                    <img src="@item.corevalue_path" alt="x" />
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-info " style="background-color:#FFE4E1"> @Html.ActionLink("上傳", "Upload", new { sortid = item.sortid.ToString(), info = "val" })</button>
                                </td>

                                <td class="align-middle">

                                    @Html.ActionLink("修改", "Edit", "About", new { id = item.sortid }, new { @class = "btn btn-success " })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#DatatableList').DataTable({

            "language": {
                "sProcessing": "處理中...",
                "sLengthMenu": "顯示 _MENU_ 項結果",
                "sZeroRecords": "沒有匹配結果",
                "sInfo": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                "sInfoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                "sInfoFiltered": "(從 _MAX_ 項結果過濾)",
                "sInfoPostFix": "",
                "sSearch": "查詢:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "首頁",
                    "sPrevious": "上頁",
                    "sNext": "下頁",
                    "sLast": "尾頁"
                }
            }

        })


    })






</script>
