@model foodfun.Models.Categorys

@{
    ViewBag.Title = "類別資料修改";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">

    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="col-lg-10 offset-lg-1">
                    <hr>
                    <h2 class="text-center">
                        <strong class="card-title"> @ViewBag.Title</strong>
                    </h2>
                    <hr>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.rowid)
                    @* @Html.HiddenFor(model => model.parentid)*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.parentid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @*@Html.DropDownListFor(model => model.parentid, (IEnumerable<SelectListItem>)ViewBag.ParentIdDropdownList, new { @class = "form-control chosen-select" ,@readonly = "readonly" })*@
                            @* @Html.DropDownListFor(model => model.parentid, (IEnumerable<SelectListItem>)ViewBag.ParentIdDropdownList, new { @class = "form-control", @readonly = "readonly" })*@
                            @Html.EditorFor(model => model.parentid, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.parentid, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.category_no, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.category_no, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.category_no, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.category_name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.category_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="儲存異動" class="btn btn-success" />
                            @Html.ActionLink("返回", "Index", "Categorys", null, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
