@model foodfun.Models.Users

@{
    ViewBag.Title = "權限設定";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">

    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="col-lg-10 offset-lg-1">
                    <hr>
                    <h2 class="text-center">
                        <strong class="card-title"> @ViewBag.Title</strong>
                    </h2>
                    <hr>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.mno, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.mno, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.mno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.mname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.mname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.mname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.account_name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.account_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.account_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.password)
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.birthday)
                    @Html.HiddenFor(model => model.phone)

                    @Html.HiddenFor(model => model.address)
                    @Html.HiddenFor(model => model.email)


                    <div class="form-group">
                        @Html.LabelFor(model => model.role_no, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.role_no, (IEnumerable<SelectListItem>)ViewBag.RoleDropdownList, new { @class = "form-control chosen-select" })
                            @*  @Html.EditorFor(model => model.role_no, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.role_no, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.isvalidate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.isvalidate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.isvalidate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="儲存" class="btn btn-success" />
                            @Html.ActionLink("返回", "Index", "RoleAuthorized", null, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>