@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="margin-left:100px;">@ViewBag.Title</h2>
@* <h3>@ViewBag.Message</h3>*@

<div class="aboutCont">

    <div class="row">
        <div class="col-12 banner ">

            <div class="carousel silde" data-ride="carousel" style="">
                <div class="carousel-inner " style="height:400px;">
                    @foreach (var item in Model.About)
                    {
                        if (item.sortid == 1)
                        {
                            <div class="carousel-item active"><img src="@Url.Content(item.about_path)" alt="" class="img-fluid"></div>
                        }
                        else
                        {
                            <div class="carousel-item "><img src="@Url.Content(item.about_path)" alt="" class="img-fluid"></div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
    @*=========公司簡介=========*@
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 ">
            <div class="about-pro">
                <h1>    我們的初衷 ~ </h1>
                <p>@Html.Raw(@Model.Company.description)</p>

            </div>
        </div>
        <div class="col-2"></div>
    </div>
    @*=========公司理念 =========*@

    <div class="row " style="margin-left:10px; margin-top:20px;">
      <div class="col-2"></div>
          <div class="col-10">
           <h1>    我們的理念 ~ </h1>
       </div>

      @foreach (var item in Model.About)
      {
          if (@item.sortid == 1)
          {
            <div class="col-2"></div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ac1">
                <div class="row ">
                    <div class="col-12 col-md-6">
                        <h1>@item.sortid </h1>
                        <h2 class="text-muted">@item.corevalue_title</h2>
                        <p class="m-1 pl-1 text-success">@item.corevalue_descpt</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <img src="@Url.Content(item.corevalue_path)" alt="" class="img-thumbnail ">
                    </div>
                </div>
            </div>

          }
          else
          {
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ac1">
                <div class="row ">
                    <div class="col-12 col-md-6">
                        <h1>@item.sortid </h1>
                        <h2 class="text-muted">@item.corevalue_title</h2>
                        <p class="m-1 pl-1 text-success">@item.corevalue_descpt</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <img src="@Url.Content(item.corevalue_path)" alt="" class="img-thumbnail ">
                    </div>
                </div>
            </div>
          }
      }
   </div>


    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <h5>公司電話：@Model.Company.tel</h5><br />
            <h5>公司地址：@Model.Company.address</h5>
            <a href="https://www.google.com.tw/maps/place/@Model.Company.address">
                <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
            </a>
        </div>
    </div>
      
          
        
