@model foodfun.Models.Company

@{
    ViewBag.Title = "聯絡我們";
}



<div class="contact">
    <div class="container-fluid ">
        <div class="container-fluid">
            <div class="col d-flex justify-content-center aling-items-center title">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
        <div class="col d-flex justify-content-center aling-items-center ">
            <div class="col-lg-3  cont">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <p>地   址 </p>
                        <h3>@Model.address</h3>

                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <p>電   話 </p>
                        <h3>@Model.tel</h3>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-time"></i></span>
                    <div class="media-body">
                        <p>營業時間 </p>
                        <h3>@Model.opentime to @Model.closetime</h3>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-hand-stop"></i></span>
                    <div class="media-body">
                        <p>公休日 </p>
                        <h3>@Model.public_holiday</h3>

                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <p>有任何問題, 請隨時與我們聯絡!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col d-flex justify-content-center aling-items-center" onclick="golink()">
            <div class="btn btn-lg border-light  cfBtn">
                <h2> 請點我!</h2>
            </div>
        </div>
    </div>
</div>
