@model IEnumerable<foodfun.Models.StaffOrderViewModel>

@{
    ViewBag.Title = "線上訂單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .order_time {
        border-radius: 50%;
        font-size: 11px;
        left: 15%;
        top: 38%;
        position: absolute;
    }

    .order_total {
        border-radius: 50%;
        left: 15%;
        font-size: 11px;
        top: 60%;
        position: absolute;
    }

    .order-icon {
        position: relative;
        display: inline-block;
    }
</style>
<section class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 border text-center align-items-center">
                <h2 class="my-2">@ViewBag.Title</h2>
            </div>
            <div class="col-md-8 text-center my-4 ">
                <table class="table  ">

                    @foreach (var item in Model)
                    {
                        <tr class="this-order" id="@item.orders.order_no">

                            <td>

                                <h5>@Html.DisplayFor(modelItem => item.mealservice_name)</h5>
                                @Html.DisplayFor(modelItem => item.orders.order_no)
                            </td>
                            <td>
                                @*@item.orders.SchedulOrderTime.ToString.format{0:HH:mm}*@
                                @*@Html.DisplayFor(modelItem => item.orders.SchedulOrderTime, "ShortDateTime")*@
                                @Html.ValueFor(modelItem => item.orders.SchedulOrderTime, "{0:HH:mm}")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.orders.total)
                            </td>
                            <td>
                                <input type="button" value=@(item.orders.ispaided.Value ? "已結" : " 結帳 ") class="btn btn-danger ispaided" onclick="location.href = '/Staff/StaffProd_Check/OnlineCheckout/?id=@item.orders.order_no'">

                            </td>
                            <td class="orderstatus-name">
                                @Html.DisplayFor(modelItem => item.orderstatus_name)
                            </td>
                            <td>
                                <input type="button" value=@item.change_status class="btn btn-warning change-status" name="@item.orders.orderstatus_no">
                            </td>



                        </tr>
                    }

                </table>


            </div>

            <div class="col-md-4">
                @Html.Partial("~/Areas/Staff/Views/StaffOrder/_PartialDetailOrder.cshtml")
            </div>


        </div>
    </div>
</section>

<script>
    $('.this-order').css("cursor", "pointer");

    $.each($('.ispaided'), function () {

        if ($(this).val() == "已結")$(this).attr('disabled', 'disabled');
    })
    $.each($('.change-status'), function () {
       
        if ($(this).attr("name") == "ALD") $(this).attr('disabled', 'disabled');

    })

    $('.change-status').on('click', function () {

        var order = $(this).parents("tr");

        $.ajax({
            type: 'post',
            url: '@Url.Action("ChangeStatus", "StaffOrder")',
            data: { id: order.attr("id") },
            success: function (result) {
                console.log(result);
                if (result == "0") order.remove();
                else
                {
                    order.children(".orderstatus-name").text(result.orderstatus_name);
                    order.find(".change-status").val(result.change_status);
                    if (result.orders.orderstatus_no == "ALD") {
                        order.find(".change-status").attr('disabled', 'disabled');
                    }


                }


            }, error: function () {
                alert('失敗')
            }
        })

    })


     function ShowThisOrder(productId) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangeStatus", "StaffProd_Check")',
                    data: { id: productId,qty:qty,prop_select:select},
                    success: function (data) {
                        $("#orderDetail").html(data);
                    },
                    error: function () {
                        alert('失敗')
                    }
                })
            }

</script>

